# 1. Problem Information
- **Name:** Wine Type Classification
- **Date:** 12/02/2026
- **Type:** Multi-class

# 2. Imports

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVC
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler

# 3. Data preparation

In [2]:
train = pd.read_csv("data/train.csv")
test = pd.read_csv("data/test.csv")
print(train.shape)
train.head(5)

(142, 15)

,SampleID,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target
0,37,13.28,1.64,2.84,15.5,110.0,2.60,2.68,0.34,1.36,4.60,1.09,2.78,880.0,0
1,31,13.73,1.50,2.70,22.5,101.0,3.00,3.25,0.29,2.38,5.70,1.19,2.71,1285.0,0
2,27,13.39,1.77,2.62,16.1,93.0,2.85,2.94,0.34,1.45,4.80,0.92,3.22,1195.0,0
3,13,13.75,1.73,2.41,16.0,89.0,2.60,2.76,0.29,1.81,5.60,1.15,2.90,1320.0,0
4,149,13.32,3.24,2.38,21.5,92.0,1.93,0.76,0.45,1.25,8.42,0.55,1.62,650.0,2

In [3]:
train.describe()

,SampleID,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target
count,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000
mean,89.260563,12.971479,2.340000,2.364859,19.625352,99.633803,2.273732,1.985352,0.360141,1.600211,4.989648,0.948986,2.606197,739.478873,0.936620
std,51.279886,0.802521,1.101285,0.268380,3.380848,14.937448,0.621454,0.951952,0.119211,0.579777,2.334947,0.226647,0.689650,301.499014,0.773816
min,1.000000,11.030000,0.740000,1.360000,10.600000,70.000000,0.980000,0.340000,0.130000,0.420000,1.280000,0.480000,1.270000,278.000000,0.000000
25%,45.250000,12.370000,1.610000,2.200000,17.200000,88.000000,1.705000,1.227500,0.270000,1.250000,3.057500,0.780000,1.970000,496.250000,0.000000
50%,87.500000,13.010000,1.810000,2.360000,19.500000,97.000000,2.335000,2.135000,0.340000,1.560000,4.640000,0.960000,2.780000,673.500000,1.000000
75%,135.500000,13.560000,3.170000,2.560000,21.500000,107.750000,2.800000,2.775000,0.430000,1.950000,6.182500,1.090000,3.160000,981.250000,2.000000
max,176.000000,14.830000,5.800000,3.220000,30.000000,162.000000,3.880000,3.740000,0.630000,3.580000,13.000000,1.710000,3.920000,1515.000000,2.000000

# 4. Models

In [4]:
X = train.iloc[:,1:-1]
Y = train['target']

In [5]:
params = {
    'svc__C':[0.1,0.2,0.3,0.5,1,1.5,2,5,10,20],
    
}
pipeline = make_pipeline(StandardScaler(),SVC())
grin_search = GridSearchCV(pipeline,params,cv=4,scoring='f1_macro')
grin_search.fit(X, Y)
print("Best score: ",round(grin_search.best_score_,4))
print("Best parameters: ",grin_search.best_params_)

Best score :  0.9864
Best parameters:  {'svc__C': 0.3}

In [6]:
best_pipeline = grin_search.best_estimator_
predictions = best_pipeline.predict(test.iloc[:,1:])

# 5. Submission

In [7]:
submission = pd.DataFrame({
    "SampleID": test['SampleID'],
    "label": predictions,
})
submission.head()

   SampleID  label
0        11      0
1       135      2
2        29      0
3       122      1
4        63      1

In [8]:
submission.to_csv("submission.csv", index=False)