# 1. Problem Information
- **Name:** [**Solar Energy Production Prediction**](https://platform.olimpiada-ai.ro/en/problems/21)
- **Date:** 12/02/2026
- **Type:** Regression

# 2. Imports

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.linear_model import LinearRegression,SGDRegressor
from sklearn.ensemble import RandomForestRegressor,GradientBoostingRegressor
from sklearn.model_selection import cross_val_score,RandomizedSearchCV
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler

# 3. Data preparation

In [2]:
train = pd.read_csv("data/train.csv")
test = pd.read_csv("data/test.csv")
print(train.shape)
train.head(5)

(200, 9)

,SampleID,solar_irradiance,temperature,humidity,wind_speed,cloud_cover,panel_angle,panel_efficiency,energy_output
0,1,624.724071,27.840633,18.249910,1.689351,70.723863,15.553988,20.307842,32.52
1,2,970.428584,16.682799,82.204233,2.785903,15.253904,26.257028,15.172108,65.91
2,3,839.196365,18.232574,50.420190,1.770105,57.628836,36.188375,15.154865,32.53
3,4,759.195091,32.971084,76.116597,0.887025,60.671505,31.966747,17.265272,27.09
4,5,493.611184,27.128581,35.603968,1.206359,42.413067,34.196834,18.420502,35.60

In [3]:
train.describe().round(3)

,SampleID,solar_irradiance,temperature,humidity,wind_speed,cloud_cover,panel_angle,panel_efficiency,energy_output
count,200.000,200.000,200.000,200.000,200.000,200.000,200.000,200.000,200.000
mean,100.500,690.404,25.088,51.654,4.788,46.346,26.310,18.444,44.324
std,57.879,176.935,5.860,24.585,2.788,28.533,9.100,2.037,27.623
min,1.000,403.313,15.101,10.867,0.181,0.463,10.192,15.068,0.220
25%,50.750,537.149,20.229,30.442,2.360,20.940,17.794,16.642,24.620
50%,100.500,696.692,25.833,52.032,4.671,44.338,27.838,18.389,42.130
75%,150.250,854.116,29.844,74.889,7.244,68.998,34.589,20.098,57.950
max,200.000,992.132,34.810,89.977,9.900,99.687,39.938,21.980,133.440

# 4. Models

In [4]:
X = train.iloc[:,1:-1]
Y = train['energy_output']

pipeline = make_pipeline(StandardScaler(),GradientBoostingRegressor(random_state=0))
print("Score is:",cross_val_score(pipeline,X,Y,cv=5,scoring='neg_root_mean_squared_error').mean()*-1)

Score is: 6.9984265783454465

In [5]:
pipeline.fit(X,Y)
predictions = pipeline.predict(test.iloc[:,1:])

# 5. Submission

In [6]:
submission = pd.DataFrame({
    "SampleID": test['SampleID'],
    "energy_output": predictions,
})

submission.head()

   SampleID  energy_output
0         1      64.587869
1         2      45.170507
2         3      55.560342
3         4      69.586839
4         5      93.078194

In [7]:
submission.to_csv("submission.csv", index=False)