# 1. Problem Information
- **Name:** [**Intro Python: Converting temperatures from Celsius to Fahrenheit**](https://platform.olimpiada-ai.ro/en/problems/23)
- **Date:** 12/02/2026
- **Type:** None

# 2. Imports

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# 3. Data preparation

In [3]:
train = pd.read_csv("data/train.csv")
test = pd.read_csv("data/test.csv")
print(train.shape)
train.head(5)

(100, 3)

   SampleID  temperature_c  temperature_f
0         1           2.47          36.45
1         2          37.04          98.67
2         3          23.92          75.06
3         4          15.92          60.66
4         5         -10.64          12.85

In [4]:
train.describe().round(3)

       SampleID  temperature_c  temperature_f
count   100.000        100.000        100.000
mean     50.500          8.210         46.779
std      29.011         17.849         32.128
min       1.000        -19.670         -3.410
25%      25.750         -8.408         16.868
50%      50.500          7.845         46.120
75%      75.250         23.815         74.865
max     100.000         39.210        102.580

# 4. Models

# 5. Submission

In [5]:
submission = pd.DataFrame({
    "SampleID": test['SampleID'],
    "temperature_f": test['temperature_c'] * 9/5 + 32,
})

submission.head()

   SampleID  temperature_f
0         1         -0.598
1         2         64.724
2         3         29.948
3         4         50.918
4         5         94.010

In [6]:
submission.to_csv("submission.csv", index=False)